NODE_ENV=development
PORT=2025

MONGO_URI=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/stormyops_cms?retryWrites=true&w=majority

SESSION_COOKIE_NAME=stormyops_session
SESSION_TTL_DAYS=14
COOKIE_DOMAIN=
CORS_ORIGINS=http://localhost:3000,http://localhost:2025


SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=change-me

TENANT_ID=stormyops

REDIS_URL=redis://redis:6379

DO_SPACES_REGION=nyc3
DO_SPACES_BUCKET=your-bucket-name
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_KEY=your-key
DO_SPACES_SECRET=your-secret
DO_SPACES_CDN_BASE_URL=https://your-bucket-name.nyc3.cdn.digitaloceanspaces.com

COMMENT_EMAIL_ENCRYPTION_KEY=your-key